/* src/pages/About.module.css */

.about {
  padding: 40px 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.about h2 {
  font-size: 2.2em;
  color: #61dafb;
  border-bottom: 2px solid #3e3e3e;
  padding-bottom: 10px;
}

.about p {
  font-size: 1.1em;
  color: #c0c0c0;
}