/* src/components/ParticleBackground.module.css */

.particleBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #0a0a0a;
  pointer-events: none;
}

